table{
    border: 1mm;
    border-color: green;
}

table thead{
    text-transform: uppercase;
}

table tfoot{
    text-transform: lowercase;
}

table tbody{
    text-transform: lowercase;
}

.col1{
    background-color: gainsboro;
    border-color: red;
}

.col2{
    background-color: skyblue;
}